{% if site.layout == 'stacked' %}
  {% assign metadata_styles = 'd-md-inline-block mx-3 mb-1 mb-md-0' %}
{% else %}
  {% assign metadata_styles = 'd-flex flex-items-center mb-3' %}
{% endif %}

<!-- <img src="{{ user.avatar_url }}" class="circle mb-3" style="max-width: 150px;"> -->
<h1 class="{% if site.style == 'dark' %}text-white{% endif %} mb-2 lh-condensed">{% if user.name %}{{ user.name }}{% else %}{{ user.login }}{% endif %}</h1>
<p class="mb-3 f4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
  {{ user.bio }}
</p>

<hr/>

{% if include.metadata %}
  <div class="f4 mb-6">    
    <a href="https://github.com/mihaiolteanu">
      <img height="25px" src="/assets/logos/github.png" title="I write software"/>
    </a> &nbsp; &nbsp;
    
    <a href="https://stackoverflow.com/users/2819719/mihai" title="sometimes I reply to questions">
      <img height="25px" src="/assets/logos/so.png"/>
    </a> &nbsp; &nbsp;
    
    <a href="https://news.ycombinator.com/user?id=molteanu" title="and read the good news">
      <img height="25px" src="/assets/logos/hn.png"/>
    </a> &nbsp; &nbsp;

    <a href="https://www.facebook.com/mihai.olteanu.395" title="let's have a chat">
      <img height="25px" src="/assets/logos/fb.png"/>
    </a> &nbsp; &nbsp;

    <a href="https://www.google.ro/maps/place/Cluj-Napoca/" title="I'm from Cluj-Napoca (Romania)">
      <img height="25px" src="/assets/logos/location.png"/>
    </a> <br/>

    <a href="mailto:mihai_olteanu@fastmail.fm" title="We can also have a more serious discussion">mihai_olteanu@fastmail.fm</a>

    <!-- {% if user.hireable %} -->
    <!--   <br/> -->
    <!--   <span title="Contact" class="d-inline-block f5 rounded-2 text-white bg-green py-1 px-2">↑ Available ↑</span> -->
    <!-- {% endif %} -->
  </div>
{% endif %}
